---
layout: layouts/default.njk
title: Bienvenu
styles: /styles/index.css
---
<h1>Hello World</h1>
<p class="example text-tiny">test</p>


<pre>{{ metadata | json5 | safe }}</pre>
<p class="desc">{{ description }}</p>

<p class="article">
My article
</p>

<mg-greetings>
Bonjour à Tous
</mg-greetings>

<h2>dotEnv</h2>
<pre>
{{ collections.dotenv | json5 }}
</pre>